.row {
  margin-left: 20px;
  color: white;
}

.row:hover .row__left,
.row:hover .row__right {
  opacity: 1;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  transition: all ease 0.5s;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 150px;
  margin-right: 10px;
  border-radius: 4px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}


.row__right {
  right: 0;
}
.row__left {
  left: 0;
}

.row__left,
.row__right {
  position: absolute;
  font-size: 25px;
  width: 40px;
  height: 150px;
  transform: scale(1.09);
  background-color: rgba(17, 17, 17, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}

.row__leftLarge,
.row__rightLarge {
  position: absolute;
  font-size: 40px;
  width: 40px;
  height: 250px;
  transform: scale(1.09);
  background-color: rgba(17, 17, 17, 0.4);;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}